*{
    background-color:bisque;
}
ul li a{
    text-decoration: none;
    color: black;
  
}
div.list ul li{
    display: inline;
   float: right;
   width: 130px;
  
}
div.logo{
    float: left;
    height: 50px;
    margin-left: 30px;
    
}
div.first img{
    width: 500px;
    height: 500px;
    float:right;
    margin-top: 50px;
    margin-left:250px;
}
div.text{
    width: 500px;
    height: 100px;
    padding-top: 150px;
    padding-left: 50px;
    text-align:left;
    font-size:30px ; 
    font-family:cursive;
    font-weight: bold;
}